.__dd {
    &__block {
        &-on {
            height: 60vh;
            background-color: #1D6160;
            width: 100%;
            background-image: url(../../img/block-on_bg.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}